# fly.toml app configuration file generated for tourin-it on 2025-06-01T10:29:33-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tourin-it'
primary_region = 'iad'
kill_signal = 'SIGTERM'

# litestream restore provides a copy of the database to the ephemeral fly machine
# console_command = '/bin/bash -c "litestream restore -if-replica-exists $DATABASE_PATH && /bin/bash"'
# console_command = '/bin/bash -c "litestream restore -if-replica-exists $DATABASE_PATH && bin/tourin_it start_iex"'

[build]

[env]
  DATABASE_PATH = '/mnt/name/tourin_it_prod.db'
  PHX_HOST = 'tourin-it.fly.dev'
  PORT = '8080'

[[mounts]]
  source = 'name'
  destination = '/mnt/name'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
