<.navbar current_user={@current_user} />
<main class="px-4 py-8 lg:py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
<.live_component :if={assigns[:show_new_passkey]} module={TourinItWeb.Passkeys.NewComponent} current_user={@current_user} id={@current_user} />
