<.header>Tourin' it!</.header>

<%= if @current_user do %>
  <p>You have no active tours. Contact your organizer for help.</p>
<% else %>
  <p>You are not logged in. Reach out to your organizer for a login link.</p>
<% end %>
