<.back navigate={~p"/tours/#{@tour.slug}/#{@tour_session.identifier}"}>Previous Tour Stops</.back>

<.header class="mb-8">{@tour.name} {@tour_session.identifier}</.header>

<p>Your organizer is still deciding on the next tour stop.</p>
