<div phx-hook="PasskeyNew" id={"user-#{@current_user.id}"} class="hidden">
  <div class="py-8"></div>
  <div class="fixed bottom-6 left-4 lg:left-auto right-6">
    <button phx-click="create-passkey" class="phx-submit-loading:opacity-75 py-2 px-3 rounded-lg bg-yellow-400 hover:bg-yellow-300 text-sm font-semibold text-zinc active:text-zinc/80 w-full lg:w-auto">
      Create Passkey
    </button>
  </div>
</div>
