<.header>
  New Tour
  <:subtitle>Use this form to manage tour records in your database.</:subtitle>
</.header>

<.tour_form changeset={@changeset} action={~p"/organize/tours"} />

<.back navigate={~p"/organize/tours"}>Back to tours</.back>
