<.header>
  Tour {@tour.id}
  <:subtitle>This is a tour record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/organize/tours/#{@tour}/edit"}>
      <.button>Edit tour</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@tour.name}</:item>
  <:item title="Slug">{@tour.slug}</:item>
</.list>

<.back navigate={~p"/organize/tours"}>Back to tours</.back>
