<.back navigate={~p"/organize/tours/#{@tour_session.tour}/tour_sessions/#{@tour_session}"}>
  Back to {@tour_session.tour.name} {@tour_session.identifier}
</.back>

<.header>
  Edit Tour Session {@tour_session.identifier} Tour Goers
</.header>

<.tour_goers_form
  action={~p"/organize/tours/#{@tour_session.tour}/tour_sessions/#{@tour_session}/tour_goers"}
  changeset={@changeset}
/>
