<.back navigate={~p"/organize/tours/#{@tour_session.tour}"}>
  Back to {@tour_session.tour.name}
</.back>

<.header>
  Edit Tour Session {@tour_session.identifier} Tour Goers
</.header>

<.tour_goers_form changeset={@changeset} action={~p"/organize/tours/#{@tour_session.tour}/tour_sessions/#{@tour_session}/tour_goers"} />
